.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px 28px;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.header__logo {
  width: 89px;
}

.header__date-and-location {
  margin: 0;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__signup-button,
.header__login-button,
.header__add-clothes-btn {
  background: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  padding: 0;
}

.header__profile-container {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.header__username {
  margin: 0;
  color: black;
}

.header__nav-link {
  color: #000;
  text-decoration: none;
}
